# server
server:
  port: 6802

# spring
spring:
  application:
    name: service-geteway
  profiles:
    active: @current.active.profile@
  boot:
    admin:
      client:
        url: @spring.boot.admin.url@
        usernmae: @security.user.name@
        password: @security.user.pwd@
        instance:
          prefer-ip: true
  security:
    user:
      name: @security.user.name@
      password: @security.user.pwd@
  cloud:
    gateway:
      routes:
        - id: mail
          # 转发到地址：mail.service.url/mail/** 对应的api
          uri: @mail.service.url@
          predicates:
            # 访问地址 http://localhost:6802/mail/ 开头时
          - Path=/mail/**
        - id: plan
          uri: @plan.service.url@
          predicates:
          - Path=/plan/**


# eureka
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
    health-check-url-path: /actuator/health
  client:
    registryFetchIntervalSeconds: 5
    service-url:
      defaultZone: @eureka.url@

# management
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: ALWAYS