<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.eyes.mapper.mail.MailAppendixMapper">
  <resultMap id="BaseResultMap" type="com.blue.eyes.entity.mail.MailAppendix">
    <id column="appendix_id" jdbcType="VARCHAR" property="appendixId" />
    <result column="send_id" jdbcType="VARCHAR" property="sendId" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
  </resultMap>
  <sql id="Base_Column_List">
    appendix_id, send_id, file_id
  </sql>

</mapper>